head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta( charset="UTF-8")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    link(rel="stylesheet", href="/stylesheets/navbar.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")

body
    div(id="mySidenav" class="sidenav").text-center
        a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times
        h1 White Fox
        ul.list-unstyled.components.text-center
            h4 Viewing options
            li
                a(href="/home/?filterToSubscriptions=true").border MY LIST
            li
                a.dropdown-togglez(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false').border GENRES
                ul#pageSubmenu.collapse.list-unstyled
                    each gen in genre_list
                        li
                            a(href=`/home?genre=${gen.genre}`) #{gen.genre}
            li
                a(href='/home').border HOME
            li
                a(href='/logout').border LOG OUT
    nav.navbar.navbar-default.navbar-expand( role="navigation" )
        .navbar-header
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" )
                span(class="navbar-toggler-icon")
        //a.navbar-brand WhiteBox
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul.nav.navbar-left
                li.dropdown
                    div.btn-group
                        button.btn.btn-default.dropdown-toggle(type="button", onclick="openNav()")
                            i.fa.fa-bars.fa-3x
                        script.
                            function openNav() {
                                document.getElementById("mySidenav").style.width = "250px";
                            }
                            function closeNav() {
                                document.getElementById("mySidenav").style.width = "0";
                            }
            ul.nav.navbar-right
                li.search
                    input(type="text" id="filterInput" list="productions" placeholder="Search"  )
                    datalist(id="productions")
                        each prod in production_list
                            option(value= prod.title)
                                a(href=`/production/?production=${prod.id}` id="val")
                    script.
                        $(document).ready(function () {
                            $("#filterInput").keypress(function () {
                                if (checksExist($("#filterInput").val()) === true) {

                                    window.location.href = $("#productions option[value='" + $("[list='productions']").val() + "']").find("a").attr("href")
                                }
                            });
                        });
                            $("#filterInput").change(function () {

                                if (checksExist($("#filterInput").val()) === true) {

                                    window.location.href = $("#productions option[value='" + $("[list='productions']").val() + "']").find("a").attr("href")
                                }
                            });
                        function checksExist(inputValue) {
                            console.log(inputValue);
                            var x = document.getElementById("productions");
                            var i;
                            var flag;
                            for (i = 0; i < x.options.length; i++) {
                                if (inputValue == x.options[i].value) {
                                    flag = true;
                                }
                            }
                            return flag

                        }
                li.search-btn
                    button(class="btn btn-default" type="submit" id="searchbtn")
                        i.fa.fa-search
                    script.
                        $(document).ready(function () {
                            $("#searchbtn").click(function () {
                                if(checksExist($("#filterInput").val()) === true) {

                                    window.location.href = $("#productions option[value='" + $("[list='productions']").val() + "']").find("a").attr("href")
                                }
                            });
                        });

                        function checksExist(inputValue) {
                            console.log(inputValue);
                            var x = document.getElementById("productions");
                            var i;
                            var flag;
                            for (i = 0; i < x.options.length; i++) {
                                if (inputValue == x.options[i].value) {
                                    flag = true;
                                }
                            }
                            return flag

                        }
                li.nav_button
                    button(class="btn btn-default " type="submit" id="envelope")
                        i.fa.fa-envelope.fa-2x
                li.nav_button
                    button(class="btn btn-default " type="submit" id ="user_btn")
                        i.fa.fa-user.fa-2x
