.topnav
    link(rel='stylesheet', href='stylesheets/topnav.css')
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    script (src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script (src = "typeahead.min.js", type = "text/javascript")
    //script(src = "jq.js", type ="text/javascript")

    ul
        li
            a(href="#") White Fox Streaming
        li
            a(href= '/login' ) Login
        li
            a(href= '/home' ) Productions
        li
            a(href='/search') Search
