head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta( charset="UTF-8")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    link(rel="stylesheet", href="stylesheets/navbar.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    style.
        nav {
            list-style-type: none;

        }

        nav.navbar.navbar-default {
            background-color: #202c39;
        }

        li.dropdown {

        }

        ul.nav.navbar-left li.dropdown {
            float: left;
        }

        ul.nav.navbar-right li {
            float: left;
        }

        .btn-group {
            margin-bottom: 0px;
            position: relative;
            top: 2px;
        }

        button.btn.btn-default.dropdown-toggle {
            padding: 19px;
            position: relative;
            margin: 0px;
            right: 14px;
            bottom: 3px;
            background-color: #000000;
            border-color: #09b4ea;
        }

        ul.dropdown-menu {
            background-color: #09b4ea;
        }

        ul.dropdown-menu li a {
            color: #000000;
        }

        i.fa.fa-bars {
            color: #09b4ea;

        }

        li.search input {
            position: relative;
            top: 18px;
            background-color: #000000;
            color: #09b4ea;
            border: 5px solid transparent;

        }

        li.search option value {
            color: #09b4ea;
        }

        li.search input::placeholder {
            color: #09b4ea;
        }

        li.search-btn button {
            margin-right: 100px;
            position: relative;
            top: 10px;
            background-color: #09b4ea;
        }

        i.fa.fa-search {
            padding: 8px;
            position: relative;
            color: #000000;

        }

        li.button button {
            background-color: #000000;
            border-color: #09b4ea;
        }

        .btn.btn-default:hover {
            background-color: #0062cd;
        }

        .btn.btn-default.dropdown-toggle:hover {
            background-color: #0062cd;
        }

        i.fa.fa-envelope {
            padding: 19px;
            color: #09b4ea;
        }

        i.fa.fa-play {
            padding: 19px;
            color: #09b4ea;
        }

        i.fa.fa-user {
            padding: 19px;
            color: #09b4ea;
        }
body
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        //a.navbar-brand WhiteBox
        div.collapse.navbar-collapse
            ul.nav.navbar-left
                li.dropdown
                    div.btn-group
                        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                            i.fa.fa-bars.fa-3x
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/home") Home
                            li.divider
                            li
                                a(href="/productions") Productions
            ul.nav.navbar-right
                li.search
                    input(type="text" id="filterInput" list="productions" placeholder="Search" )
                    datalist(id="productions")
                        each prod in production_list
                            option(value= prod.title)
                                a(href=`/production/?production=${prod.id}`)
                li.search-btn
                    button(class="btn btn-default" type="submit" id="searchbtn")
                        i.fa.fa-search
                    script.
                        $(document).ready(function () {
                            $("#searchbtn").click(function () {
                                if(checksExist($("#filterInput").val()) === true) {

                                    window.location.href = $("#productions option[value='" + $("[list='productions']").val() + "']").find("a").attr("href")
                                }
                            });
                        });

                        function checksExist(inputValue) {
                            console.log(inputValue);
                            var x = document.getElementById("productions");
                            var i;
                            var flag;
                            for (i = 0; i < x.options.length; i++) {
                                if (inputValue == x.options[i].value) {
                                    flag = true;
                                }
                            }
                            return flag

                        }
                li.button
                    button(class="btn btn-default " type="submit")
                        i.fa.fa-envelope.fa-2x
                li.button
                    button(class="btn btn-default" type="submit")
                        i.fa.fa-play.fa-2x
                li.button
                    button(class="btn btn-default " type="submit")
                        i.fa.fa-user.fa-2x
