
//
    block scripts
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')


block sidebar
    
    link(rel='stylesheet', href='stylesheets/sidebar.css')
    
    .wrapper
        script(type='text/javascript').
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                });

        nav#sidebar
            .sidebar-header
                h3 Side Menu
            ul.list-unstyled.components
                p Viewing Options
                li.active
                    a.dropdown-toggle(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Watchlist
                    ul#homeSubmenu.collapse.list-unstyled
                        li
                            a(href='#') Watch1
                        li
                            a(href='#') Watch2
                        li
                            a(href='#') Watch3
                li
                    a.dropdown-toggle(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false') Genres
                    ul#pageSubmenu.collapse.list-unstyled
                        li
                            a(href='#') Genre1
                        li
                            a(href='#') Genre2
                        li
                            a(href='#') Genre3
                li
                    a(href='/home') Productions
                li
                    a(href='/login') Login
        #content
            .row-fluid.border
                .col-sm-12.box.rounded
                    p #{user} has logged in.  Here are some recommended productions (not GoT, Hellboy or Velvet Buzzsaw, we have no episodes in the DB for that)
                    later we will replace these generated links with generated objects from bootstrap
                    p
                    each production in displayProductions
                        a(href= `./production/?production=${production.id}`)= production.title
                        p

            a(href="./logout") Log Out