extends layout

block scripts
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')
block topbar
    .row
        p Top menu goes here
    .row
        h1 #{message}
block content
    p #{user} has logged in.  Enjoy your nightmare chungus.
    div.wrapper.col-10.offset-1.my-4
        video(id='my-video' class='video-js' controls preload='auto' width='1280' height='720'
        poster='MY_VIDEO_POSTER.jpg' data-setup='{"fluid":true}')
            source(src=vidUrl)
            p.vjs-no-js Please enable Javascript to see this video

    a(href="./logout") Log Out