extends index

block topbar
    include  navbar

block strips
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')

block content

    .container.greeting.text-center#greeting.border
        .row
            .col-4
                p  This is where the user profile will go
            .col-8
                .row
                    h1 #{message}
                .row
                    p This is the about #{user}
        .row
            .col.text-center
                p  Recent Activity

    .container
        .row
            .col-8
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                .row.border
                    p The first comment/review
                
            .col-4.text-center.border
                H3 Top 10
                li  
                    p The first comment/review
                li  
                    p The first comment/review
                li  
                    p The first comment/review
                li  
                    p The first comment/review
                li  
                    p The first comment/review
    .container.border
        .row
            .col.text-center.border
                h2 Watchlist
        .row
            .col-sm-2
                .card.prodBox
                    p Production
            .col-sm-2
                .card.prodBox
                    p Production
            .col-sm-2
                .card.prodBox
                    p Production
            .col-sm-2
                .card.prodBox
                    p Production
            .col-sm-2
                .card.prodBox
                    p Production