body {
    background: black !important;
}

nav {
    list-style-type: none;

}
.navbar {
    padding-top:    0.25rem; /* 0px does not look good on small screens */
    padding-bottom: 0.25rem;
    font-size: smaller;      /* Just because I am using big size font */
    line-height: 1em;
}
.navbar-left > li > a , navbar-brand, .navbar-right > li > a {
    padding-top: 5px !important;
    height: 30px;
}

nav.navbar.navbar-default {
    background-color: #202c39;
}


ul.nav.navbar-left li {
    float: left;
}

ul.nav.navbar-right li {
    float: left;
}

.btn-group {

    position: relative;
    right: 24px;
}
li.nav_button {
    left: 7px;
}
button.btn.btn-default sidebtn {

    position: relative;
    background-color: #000000;
    border-color: #09b4ea;
    z-index: 0;
    padding: 4px;
}

ul.dropdown-menu {
    background-color: #09b4ea;
}

ul.dropdown-menu li a {
    color: #000000;
}

i.fa.fa-bars {
    color: #09b4ea;
    padding: 5px;
}

li.search input {
    position: relative;
    top: 12px;
    background-color: #000000;
    color: #09b4ea;
    border: 5px solid transparent;

}

li.search option value {
    color: #09b4ea;
}

li.search input::placeholder {
    color: #09b4ea !important;
}

li.search-btn button {
    margin-right: 100px;
    position: relative;
    top: 8px;
    background-color: #09b4ea;
}

i.fa.fa-search {

    position: relative;
    color: #000000;

}

li.nav_button button {
    background-color: #000000;
    border-color: #09b4ea;
    padding: 9px;
}

li.nav_button  .btn.btn-default:hover, sidebtn:hover {
    background-color: #0062cd;
}



li.side_btn button{
    background-color: #000000;
    border-color: #09b4ea;
    padding: 5px;
}
i.fa.fa-envelope {

    color: #09b4ea;
}

i.fa.fa-play {

    color: #09b4ea;
}

i.fa.fa-user {

    color: #09b4ea;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background: #202c39;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#09b4ea;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:#0062cd;
    background: #A0A0A0;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.navbar-default{
    border-color: black;
}
