
.buttoncolor {
    background-color: #4E6A88;
}
#link{
    color: white;
}

.showbox{
    background-color: #2b353b;
    padding: 25%;
}

.epbox{
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    background-color: #4E6A88;

}