body {
  background-color: #080E15;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}
h5{
  color: #fff;
}

p {
  color: #ffffff;
}

.main {
  position: absolute;
  min-height: 80%;
}

.static-modal {

}

.login-form {
  background-color: #2b353b;
  border-width: medium;
  border-color: #09b4ea;
  max-height: 30em;
  margin-bottom: 20%;
}

label.labelcolor{
  color: white;
}

a.footerlink{
  color: black;
}
a.footerlink:hover{
  color:white;
}

.ad{
  background-color: #2b353b;
  padding-bottom: 10%;
}

#greeting{

  background-color: #4E6A88;
  width: 100%;
  color: #ffffff;
}
#greetingdark{

  background-color: #202c39;
  color: #ffffff;

}
#greetingblack{

  background-color: #000000;
  color: #ffffff;

}

img.reviewImage{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loginbox{
  background-color: #2b353b;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 5%;
  border-width: medium;
}

.backgroundbox{
  background-image: url('../images/mBackground.png');
  background-repeat: repeat;
  padding-top:2%;
  padding-bottom: 5%;
  background-size: 80%;
}
.cardcontainer{
  margin-bottom: 10%;
}
.contact-info{
  background-color: #4e6a88;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.box{
  background-color: #2b353b;
  margin-bottom: 10%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-width: medium;
}

.reviewBorder{
  background-color: #fff;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;

}
.top10Border{
  background-color: #fff;
  margin
}

.previewGif{
  margin-top: 5%;
  margin-bottom: 5%;
}

.prodBox{
  margin-top: 10%;
  margin-bottom: 10%;
  /*padding-bottom: 10%;*/
  background-color: #2B353B;
  border-color: #09b4ea;
  border-width: medium;
}

.footerBottom{

  padding-bottom: 5%;
}

.rating {
  display: inline-block;
}
.star {
  color:#FFFFFF;
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0 0.15em;
  cursor: pointer;
}
.star.is-active {
  color: #F9DC5C;
}
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.reviews{

  background-color: #4E6A88;
  color: #ffffff;
  padding-top: 0.1em;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  margin-top: 5%;
}