body {
  background-color: #4e6a88;
  background-image: url(../images/movies.png);      /* gustavo: added the background*/
  background-position: center center;
  background-size: 75%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

.main {
  position: absolute;
  min-height: 80%;
}

.static-modal {

}

.login-form {
  background-color: #2b353b;
  border-width: medium;
  border-color: #09b4ea;
  max-height: 30em;
}

.footer {
  position: absolute;           /*gustavo: attempted to make the bottom bar stretch accross the entire page will work on later*/
  min-height: 10em;
  bottom: 0;
  background-color: #4e6a88;
  width: 100%;
  
}
